<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KEY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container min-100">
      <div class="row">
        <div class="col-md-9">
          <form class="" method="post" action="postKey">
           <select class="form-control" name="quantidade" style="float:left;width:15%">
             <option value="0">---Select---</option>
             <option value="1">1</option>
             <option value="5">5</option>
             <option value="10">10</option>
             <option value="15">15</option>
             <option value="20">20</option>
           </select>
           <button type="submit" name="btnGerarKey" class="btn btn" style="margin-left:2%;margin-top:0.1%;">GerarKey</button>
         </form>
           <p></p>
           <table class="table">
          <thead>
            <tr class="table-light">
            </tr>
            <tr class="table-light">
              <th scope="col">Key</th>
              <th scope="col">Dono</th>
            </tr>
          </thead>
          <tbody>
            <% if(queryPaginacao > 1) {%>
              <% var i=10*(queryPaginacao-1); %>
              <% maximoItem = maximoItem * queryPaginacao; %>
              <% for(i; i < findByUserNotNull && i < maximoItem;i++){%>
                <tr>
                  <th scope="row"><%=findByUserNotNull[i].key%></th>
                  <th><%=findByUserNotNull[i].nick%></th>
                </tr>
              <%}%>
              <% maximoItem = maximoItem - findByUserNotNull.length; %>
              <% i= i - findByUserNotNull.length %>
              <% for(i; i < findByUserNull.rowCount && i < maximoItem;i++) {%>
                <tr>
                  <th scope="row"><%=findByUserNull.rows[i].key%></th>
                  <th></th>
                </tr>
              <%}%>
            <%}else{%>
            <% var i=0; %>
            <% for(i; i < findByUserNotNull.length && i < maximoItem;i++){%>
              <tr>
                <th scope="row"><%=findByUserNotNull[i].key%></th>
                <th><%=findByUserNotNull[i].nick%></th>
              </tr>
            <%}%>
            <% maximoItem = maximoItem - findByUserNotNull.length; %>
            <% i= i - findByUserNotNull.length %>
            <% for(i; i < findByUserNull.rowCount && i < maximoItem;i++) {%>
              <tr>
                <th scope="row"><%=findByUserNull.rows[i].key%></th>
                <th></th>
              </tr>
            <%}}%>
          </tbody>
        </table>
        <nav aria-label="pagination example">
          <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                  <a class="page-link bg-light" href="#" tabindex="-1">Previous</a>
              </li>
              <% for(var i=1;i <= numPaginas;i++) {%>
                <li class="page-item"><a class="page-link bg-light" href="?pagina=<%= i %>"><%= i %></a></li>
              <%}%>
              <li class="page-item">
                  <a class="page-link bg-light" href="#">Next</a>
              </li>
          </ul>
      </nav>
      </div>
    </div>
  </body>
</html>
